{% include "partials.bak/partials/gitignore-partials/gitignore-typescript.jinja" %}

## --- VS Code extension-specific ---

# Build outputs
out/
*.vsix

# VS Code extension test
.vscode-test/

# Bazel
bazel-*
