{% include "partials.bak/partials/gitignore-partials/gitignore-base.jinja" %}

## --- Go-specific ---

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.prof
*.pprof

# Go workspace file
go.work
go.work.sum

# Dependency directories (uncomment to ignore vendored deps)
# vendor/
