{% include "partials.bak/partials/gitignore-partials/gitignore-base.jinja" %}

## --- Packer-specific ---

# Packer cache
.packer-cache/

# Packer build output
output-*/
packer_cache/

# Packer manifest
packer-manifest.json
