{% include "partials.bak/partials/gitignore-partials/gitignore-typescript.jinja" %}

## --- Next.js-specific ---

# Next.js
.next/
out/

# Production
build/

# Vercel
.vercel

# Next.js generated types
next-env.d.ts

# PnP
.pnp
.pnp.js
