{
  "name": "{{ project_name | default('csharp-cli') }}",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "src",
  "projectType": "application",
  "targets": {
    {% include "partials.bak/partials/nx-partials/nx-target-csharp.jinja" %}
    "run": {
      "executor": "nx:run-commands",
      "options": {
        "command": "dotnet run",
        "cwd": "{projectRoot}"
      }
    }
  }
}
