  {{ _service_name_slug }}-debug:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: debug
    logging: *default-logging
{% include "_partials/shared/docker-compose-debug-common.jinja" %}
