{
  "expo": {
    "name": "{{ project_name }}",
    "slug": "{{ package_name }}",
    "version": "0.1.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "scheme": "{{ package_name }}",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "ios": {
      "supportsTablet": true,
      "bundleIdentifier": "com.{{ monorepo_name }}.{{ package_name }}"
    },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon.png",
        "backgroundColor": "#ffffff"
      },
      "package": "com.{{ monorepo_name }}.{{ package_name }}"
    },
    "web": {
      "bundler": "metro",
      "output": "static",
      "favicon": "./assets/favicon.png"
    },
    "plugins": [
      "expo-router",
      "expo-font"
    ],
    "experiments": {
      "typedRoutes": true
    },
    "extra": {
      "eas": {
        "projectId": ""
      }
    },
    "updates": {
      "url": ""
    },
    "runtimeVersion": {
      "policy": "appVersion"
    }
  }
}
