{
  "name": "{{ project_name | default('java-cli') }}",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "src/main/java",
  "projectType": "application",
  "targets": {
    {% include "partials.bak/partials/nx-partials/nx-target-java.jinja" %}
    "run": {
      "executor": "nx:run-commands",
      "options": {
        "command": "java -jar target/*.jar",
        "cwd": "{projectRoot}"
      }
    }
  }
}
