#!/usr/bin/env bash
# direnv configuration for {{ project_name }}

# Include shared environment setup
{% include "partials.bak/.envrc.jinja" %}

# Project-specific additions
#if [ -f "{{REPO_ROOT}}/.envrc" ]; then
#    direnv allow "{{REPO_ROOT}}"
#fi
