{
  "$schema": "https://raw.githubusercontent.com/jetify-com/devbox/0.16.0/.schema/devbox.schema.json",
  "packages": {
    # Insert your packages here
    {% include "partials.bak/partials/devbox-partials/devbox-packages-common.jinja" %}
  },
  "shell": {
    "init_hook": [
      # Insert your init commands here
      {% include "partials.bak/partials/devbox-partials/devbox-shell-init_hook.jinja" %}
    ]
  },
  "scripts": {
    {% include "partials.bak/partials/devbox-partials/devbox-scripts-common.jinja" %}
  }
}
