domains:
  - "registry.npmjs.org"
  - "*.npmjs.org"
  - "nodejs.org"
  - "*.nodejs.org"
  - "github.com"
  - "*.githubusercontent.com"
  - "objects.githubusercontent.com"
  - "raw.githubusercontent.com"
