    "validate": {
      "executor": "nx:run-commands",
      "options": {
        "command": "kustomize build deploy/ | kubeconform -strict",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "lint": {
      "executor": "nx:run-commands",
      "options": {
        "command": "yamllint deploy/",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
