    "build": {
      "executor": "nx:run-commands",
      "options": {
        "command": "dotnet build",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "test": {
      "executor": "nx:run-commands",
      "options": {
        "command": "dotnet test",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "lint": {
      "executor": "nx:run-commands",
      "options": {
        "command": "dotnet format --verify-no-changes",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "format": {
      "executor": "nx:run-commands",
      "options": {
        "command": "dotnet format",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
