    "build": {
      "executor": "nx:run-commands",
      "options": {
        "command": "bootc install to-container .",
        "cwd": "{projectRoot}"
      },
      "cache": false
    },
    "lint": {
      "executor": "nx:run-commands",
      "options": {
        "command": "hadolint Containerfile",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
