    "build": {
      "executor": "nx:run-commands",
      "options": {
        "command": "swift build",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "test": {
      "executor": "nx:run-commands",
      "options": {
        "command": "swift test",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "lint": {
      "executor": "nx:run-commands",
      "options": {
        "command": "swiftlint lint",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
    "format": {
      "executor": "nx:run-commands",
      "options": {
        "command": "swiftlint --fix",
        "cwd": "{projectRoot}"
      },
      "cache": true
    },
