{
  "name": "{{ project_name | default('swift-cli') }}",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "Sources",
  "projectType": "application",
  "targets": {
    {% include "partials.bak/partials/nx-partials/nx-target-swift.jinja" %}
    "run": {
      "executor": "nx:run-commands",
      "options": {
        "command": "swift run",
        "cwd": "{projectRoot}"
      }
    }
  }
}
