# vim: set ft=python :
import signal
from {{ project_slug }}.__main__ import handle_sighup, reload_config, _config_needs_reload
import pytest


def test_handle_sighup_sets_reload_flag():
    """Test SIGHUP handler sets reload flag."""
    global _config_needs_reload
    _config_needs_reload = False
    
    handle_sighup(signal.SIGHUP, None)
    
    assert _config_needs_reload is True


def test_reload_config_returns_true():
    """Test reload_config returns True on success."""
    result = reload_config()
    assert result is True


def test_reload_config_clears_flag():
    """Test reload_config clears the reload flag."""
    global _config_needs_reload
    _config_needs_reload = True
    
    reload_config()
    
    assert _config_needs_reload is False
