{
  "compilerOptions": {
    "lib": ["DOM", "DOM.Iterable", "ES2022"],
    "target": "ES2022",
    "module": "ES2022",
    "moduleResolution": "bundler",
    "rootDir": "src",
    "outDir": "dist",
    "esModuleInterop": true,
    "noEmit": false,
    "resolveJsonModule": true,
    "skipLibCheck": true,
    "strict": true,
    "declaration": false,
    "forceConsistentCasingInFileNames": true,
    "isolatedModules": true
  },
  "include": ["src/**/*.mts", "src/**/*.cts", "src/**/*.ts"],
  "exclude": ["dist", "node_modules"]
}
