{
{% if nix_target_arch | default("") == "x86_64-darwin" %}
  "nixpkgs": {
    "commit": "293d6abedf0478e681a4dfcfcb35b30fc796a32f"
  },
{% endif %}
  "packages": {
    "nixpkgs#git": "",
    "nixpkgs#just": "",
    "nixpkgs#devbox": ""
  },
  "shell": {
    "init_hook": [
      "echo '🔧 Git repository environment ready'"
    ]
  }
}
