// swift-tools-version: 5.9
import PackageDescription

let package = Package(
  name: "{{ project_slug }}",
  products: [
    .executable(name: "{{ project_slug }}", targets: ["{{ project_slug }}"])
  ],
  targets: [
    .executableTarget(
      name: "{{ project_slug }}",
      path: "Sources/{{ project_slug }}"
    ),
    .testTarget(
      name: "{{ project_slug }}Tests",
      dependencies: ["{{ project_slug }}"],
      path: "Tests/{{ project_slug }}Tests"
    )
  ]
)
