suite: serviceaccount test
templates:
  - serviceaccount.yaml
tests:
  - it: should create service account when create is enabled
    set:
      path: $[{{ .Values.serviceAccount.create }}]
    asserts:
      - isKind:
          of: ServiceAccount
      - equal:
          path: metadata.name
          value: {{ chart_name }}-test
      - equal:
          path: metadata.labels.app.kubernetes.io/name
          value: {{ chart_name }}
      - equal:
          path: metadata.labels.app.kubernetes.io/instance
          value: {{ chart_name }}-test
  - it: should have proper labels when create is enabled
    set:
      path: $[{{ .Values.serviceAccount.create }}]
    asserts:
      - equal:
          path: metadata.labels.app.kubernetes.io/name
          value: {{ chart_name }}
      - equal:
          path: metadata.labels.app.kubernetes.io/instance
          value: {{ chart_name }}-test
  - it: should have proper annotations when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_serviceaccount_annotations }}].metadata.annotations
      value:
        serviceaccount.kubernetes.io/managed-by: "kustomize"
        serviceaccount.kubernetes.io/created-by: "platform-team"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/managed-by
          value: kustomize
      - equal:
          path: ${{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/created-by
          value: platform-team
  - it: should have automountServiceAccountToken when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_automount_service_account_token }}].automountServiceAccountToken
      value: true
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].automountServiceAccountToken
          value: true
  - it: should have custom name when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_custom_name }}].name
      value: custom-service-account
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].name
          value: custom-service-account
  - it: should have extra labels when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_extra_labels }}].metadata.labels
      value:
        extra-label: "extra-value"
        team: "platform"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.labels.extra-label
          value: extra-value
      - equal:
          path: ${{ .Values.serviceAccount.create }}].metadata.labels.team
          value: platform
  - it: should have extra annotations when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_extra_annotations }}].metadata.annotations
      value:
        extra-annotation: "extra-value"
        serviceaccount.kubernetes.io/last-applied: "2023-01-01T00:00:00Z"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.extra-annotation
          value: extra-value
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/last-applied
          value: 2023-01-01T00:00:00Z
  - it: should have owner references when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_owner_references }}].metadata.annotations
      value:
        serviceaccount.kubernetes.io/owner: "platform-team"
        serviceaccount.kubernetes.io/managed-by: "argocd"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/owner
          value: platform-team
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/managed-by
          value: argocd
  - it: should have custom namespace when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_custom_namespace }}].metadata.namespace
      value: custom-namespace
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.namespace
          value: custom-namespace
  - it: should have image pull secrets when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_image_pull_secrets }}].imagePullSecrets
      value:
        - name: registry-secret
        - name: docker-registry-secret
    asserts:
      - isNotEmpty:
          path: $[{{ .Values.serviceAccount.create }}].imagePullSecrets
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].imagePullSecrets[0].name
          value: registry-secret
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].imagePullSecrets[1].name
          value: docker-registry-secret
  - it: should have pod security policies when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_pod_security_policies }}].metadata.annotations
      value:
        pod-security.kubernetes.io/managed-by: "kustomize"
        pod-security.kubernetes.io/created-by: "platform-team"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.pod-security.kubernetes.io/managed-by
          value: kustomize
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.pod-security.kubernetes.io/created-by
          value: platform-team
  - it: should have RBAC rules when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_rbac_rules }}].metadata.annotations
      value:
        rbac.authorization.kubernetes.io/managed-by: "kustomize"
        rbac.authorization.kubernetes.io/created-by: "platform-team"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.rbac.authorization.kubernetes.io/managed-by
          value: kustomize
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.rbac.authorization.kubernetes.io/created-by
          value: platform-team
  - it: should have network policies when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_network_policies }}].metadata.annotations
      value:
        networking.kubernetes.io/managed-by: "kustomize"
        networking.kubernetes.io/created-by: "platform-team"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.networking.kubernetes.io/managed-by
          value: kustomize
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.networking.kubernetes.io/created-by
          value: platform-team
  - it: should have pod security policy when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_pod_security_policy }}].metadata.annotations
      value:
        pod-security.kubernetes.io/managed-by: "kustomize"
        pod-security.kubernetes.io/created-by: "platform-team"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.pod-security.kubernetes.io/managed-by
          value: kustomize
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.pod-security.kubernetes.io/created-by
          value: platform-team
  - it: should have extra labels when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_extra_labels }}].metadata.labels
      value:
        extra-label: "extra-value"
        team: "platform"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.labels.extra-label
          value: extra-value
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.labels.team
          value: platform
  - it: should have extra annotations when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_extra_annotations }}].metadata.annotations
      value:
        extra-annotation: "extra-value"
        serviceaccount.kubernetes.io/last-applied: "2023-01-01T00:00:00Z"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.extra-annotation
          value: extra-value
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/last-applied
          value: 2023-01-01T00:00:00Z
  - it: should have owner references when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_owner_references }}].metadata.annotations
      value:
        serviceaccount.kubernetes.io/owner: "platform-team"
        serviceaccount.kubernetes.io/managed-by: "argocd"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/owner
          value: platform-team
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.serviceaccount.kubernetes.io/managed-by
          value: argocd
  - it: should have custom namespace when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_custom_namespace }}].metadata.namespace
      value: custom-namespace
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.namespace
          value: custom-namespace
  - it: should have custom labels when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_custom_labels }}].metadata.labels
      value:
        custom-label: "custom-value"
        environment: "production"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.labels.custom-label
          value: custom-value
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.labels.environment
          value: production
  - it: should have custom annotations when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_custom_annotations }}].metadata.annotations
      value:
        custom-annotation: "custom-value"
        deployment: "production"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.custom-annotation
          value: custom-value
      - equal:
          path: $[{{ .Values.serviceAccount.create }}.metadata.annotations.deployment
          value: production
  - it: should have environment variables when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_env_vars }}].metadata.annotations
      value:
        environment: "production"
        region: "us-west-2"
        zone: "us-west-2a"
        cluster: "production-cluster"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.environment
          value: production
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.region
          value: us-west-2
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.zone
          value: us-west-2a
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.cluster
          value: production-cluster
  - it: should have feature flags when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_feature_flags }}].metadata.annotations
      value:
        feature_flags: "production-features"
        security_enabled: "true"
        debugging_enabled: "false"
    asserts:
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.feature_flags
          value: production-features
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.security_enabled
          value: true
      - equal:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.debugging_enabled
          value: false
  - it: should have application configuration when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_app_config }}].metadata.annotations
      value:
        config.yaml: |
          service_account:
            name: {{ chart_name }}
            environment: "production"
            permissions:
              - read
              write
              execute
              delete
        app.yaml: |
          database:
            host: "{{ .Values.database.host }}"
            port: {{ .Values.database.port }}
            name: "{{ .Values.database.name }}"
        logging:
          level: "{{ .Values.logging.level }}"
          format: "{{ .Values.logging.format }}"
        monitoring:
          enabled: "{{ .Values.monitoring.enabled }}"
          metrics_port: 9090
        security:
          enabled: "{{ .Values.security.enabled }}"
          tls_enabled: "{{ .Values.tls.enabled }}"
    asserts:
      - isNotEmpty:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.yaml
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.yaml
          content: "service_account:"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.app.yaml
          content: "database:"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.logging:
          content: "logging:"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.monitoring:
          content: "monitoring:"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.security:
          content: "security:"
  - it: should have JSON configuration when specified
    set:
      path: $[{{ .Values.serviceAccount.create }}]
      path: $[{{ if enable_json_config }}].metadata.annotations
      value:
        config.json: |
          {
            "service_account": {
              "name": "{{ chart_name }}",
              "environment": "production",
              "permissions": ["read", "write", "execute", "delete"]
            },
            "database": {
              "host": "{{ .Values.database.host }}",
              "port": {{ .Values.database.port }},
            },
            "logging": {
              "level": "{{ .Values.logging.level }}",
              "format": "{{ .Values.logging.format }}"
            },
            "monitoring": {
              "enabled": "{{ .Values.monitoring.enabled }}",
              "metrics_port": 9090
            },
            "security": {
              "enabled": "{{ .Values.security.enabled }}",
              "tls_enabled: "{{ .Values.tls.enabled }}"
            }
          }
    asserts:
      - isNotEmpty:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.json
      - contains:
          path: $[{{ .Values.serviceAccount.create }}.metadata.annotations.config.json
          content: "\"service_account\": {"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.json
          content: "\"environment\": \"production\""
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.json
          content: "\"permissions\": [\"read\", \"write\", \"execute\", \"delete\"]"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.json
          content: "\"database\": {"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}.metadata.annotations.config.json
          content: "\"logging\": {"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}.metadata.annotations.config.json
          content: "\"monitoring\": {"
      - contains:
          path: $[{{ .Values.serviceAccount.create }}].metadata.annotations.config.json
          content: "\"security\": {"
