# {{ plugin_name }}

{{ plugin_description }}

## Development

This plugin was generated using the Windhawk Copier Boilerplate.

### Build

Open `mod.wh.cpp` in Windhawk code editor and compile.

### Author

- {{ author_name }}
{% if author_github %}
- [GitHub]({{ author_github }})
{% endif %}
{% if author_twitter %}
- [Twitter]({{ author_twitter }})
{% endif %}
{% if author_homepage %}
- [Homepage]({{ author_homepage }})
{% endif %}
