apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ project_name }}
  namespace: argocd
spec:
  description: {{ description }}
  sourceRepos:
    - {{ repo_url }}
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
