    "devbox": "",

    "bash": "",
    "zsh": "",
    "direnv": "",
    "eza": "",
    "shellcheck": "",
    "shfmt": "",
    "bats": "",
    "bat": "",

    "git": "",
    "gh": "",
    "glab": "",
    "jujutsu": "",
    "prek": "",

    "gnupg": "",
    "pass": "",

    "act": "",
    "just": "",

    "jq": "",
    "yq": "",
    "yq-go": "",
    "jo": "",
    "sd": "",
    "gnused": "",
    "python3": "",

    "ast-grep": "",
    "comby": {
      "version": "latest",
      "excluded_platforms": ["x86_64-darwin", "aarch64-darwin"]
    },
    "src-cli": "",
    "universal-ctags": "",
    "github:tobi/qmd": {
      "version": "latest",
      "excluded_platforms": ["x86_64-darwin"]
    },

    "ripgrep": "",
    "fd": "",
    "fzf": "",
    "skim": "",
    "tree-sitter": "",
    "plocate": {
      "version": "latest",
      "platforms": ["x86_64-linux", "aarch64-linux"]
    },
    "doublecmd": {
      "version": "latest",
      "platforms": ["x86_64-linux", "aarch64-linux"]
    },

    "copier": "",
    "jinja2-cli": "",

    "quilt": "",
    "guilt": "",
    "difftastic": "",
    "delta": "",

    "typescript-language-server": "",

    "pyright": "",

    "cargo": "",
    "rust-analyzer": "",

    "obsidian": {
      "version": "latest",
      "excluded_platforms": ["x86_64-darwin"]
    },
    "rtk": "",
    "github:modem-dev/hunk": {
      "version": "latest",
      "excluded_platforms": ["x86_64-darwin"]
    },
    "github:levonk/tkr": "",
    "github:levonk/levonk-packages#devbox-rtk-nodejs-pnpm-force": "",
    "github:levonk/levonk-packages#devbox-rtk-python-uv-force": "",
    "github:levonk/levonk-packages#bundle-rtk-core": "",
    "github:levonk/levonk-packages#bundle-rtk-cloud": "",
    "github:levonk/levonk-packages#prefer-nub-from-pnpm": "",
    "github:levonk/levonk-packages#force-nub-from-npm": "",
    "github:levonk/levonk-packages#force-nub-from-yarn": "",
    "github:levonk/levonk-packages#force-nub-from-bun": "",
    "github:levonk/smartfo": "",
    "github:ogulcancelik/herdr": "",
