    "@browserbasehq/stagehand": "catalog:",
    "@playwright/test": "catalog:",
    "@types/chrome": "catalog:",
    "bestzip": "catalog:",
    "copyfiles": "catalog:",
    "tsx": "catalog:",
    "web-ext": "catalog:",
