    "@changesets/cli": "catalog:",
    "@nx/eslint": "catalog:",
    "@nx/js": "catalog:",
    "@nx/next": "catalog:",
    "@total-typescript/shoehorn": "catalog:",
    "@typescript-eslint/eslint-plugin": "catalog:",
    "@typescript-eslint/parser": "catalog:",
    "eslint": "catalog:",
    "eslint-config-prettier": "catalog:",
    "eslint-plugin-import": "catalog:",
    "husky": "catalog:",
    "lint-staged": "catalog:",
    "nx": "catalog:",
    "prettier": "catalog:",
    "typescript": "catalog:",
