    "@antfu/ni": "catalog:",
    "@tobilu/qmd": "catalog:",
    "boneyard-js": "catalog:",
    "globby": "catalog:",
    "imagemin": "catalog:",
    "imagemin-mozjpeg": "catalog:",
    "imagemin-pngquant": "catalog:",
    "imagemin-webp": "catalog:",
    "modern-errors": "catalog:",
    "modern-errors-beautiful": "catalog:",
    "modern-errors-bugs": "catalog:",
    "modern-errors-clean": "catalog:",
    "modern-errors-cli": "catalog:",
    "modern-errors-process": "catalog:",
    "modern-errors-serialize": "catalog:",
    "modern-errors-winston": "catalog:",
    "only-allow": "catalog:",
    "portless": "catalog:",
    "skillman": "catalog:",
    "skills-detector": "catalog:",
    "yakbak": "catalog:",
