    "@antfu/ni": "*",
    "@job-aide/tools-lint-eslint-config": "workspace:*",
    "@testing-library/jest-dom": "*",
    "@testing-library/user-event": "*",
    "@tobilu/qmd": "*",
    "@types/node": "*",
    "autoprefixer": "*",
    "boneyard-js": "*",
    "eslint": "*",
    "eslint-config-next": "*",
    "fallow": "*",
    "globby": "*",
    "hunk": "*",
    "modern-errors": "*",
    "modern-errors-beautiful": "*",
    "modern-errors-bugs": "*",
    "modern-errors-clean": "*",
    "modern-errors-cli": "*",
    "modern-errors-process": "*",
    "modern-errors-serialize": "*",
    "modern-errors-winston": "*",
    "only-allow": "*",
    "skillman": "*",
    "skills-detector": "*",
    "typescript": "*",
    "vitest": ">=4.1.0",