  "devEngines": {
    "runtime": {
      "name": "node",
      "version": "*"
    },
    "packageManager": {
      "name": "pnpm",
      "version": "*"
    }
  },
  "engines": {
    "node": "*",
    "pnpm": "*"
  },
  "packageManager": "pnpm@*",