{
{% if nix_target_arch | default("") == "x86_64-darwin" %}
  "nixpkgs": {
    "commit": "293d6abedf0478e681a4dfcfcb35b30fc796a32f"
  },
{% endif %}
  "packages": {
    // Insert your packages here
    {% include "partials.bak/partials/devbox-partials/devbox-packages-common.jinja" %}
  },
  "shell": {
    "init_hook": [
      // Insert your init commands here
      {% include "partials.bak/partials/devbox-partials/devbox-shell-init_hook.jinja" %}
    ]
  },
  "scripts": {
    {% include "partials.bak/partials/devbox-partials/devbox-scripts-common.jinja" %}
  },
  {% include "partials.bak/partials/devbox-partials/devbox-hooks-typescript.jinja" %}
}
