{
  "packages": [
    # Insert your packages here
    {% include "partials.bak/partials/debox-partials/devbox-packages-common.jinja" %}
  ],
  "shell": {
    "init_hook": [
      # Insert your init commands here
      {% include "partials.bak/partials/debox-partials/devbox-shell-init_hook.jinja" %}
    ]
  },
  "scripts": {
    {% include "partials.bak/partials/debox-partials/devbox-scripts-common.jinja" %}
  }
}
