package main

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"
)

var completionCmd = &cobra.Command{
	Use:   "completion [bash|zsh|fish|powershell]",
	Short: "Generate shell completion scripts",
	Long: `Generate shell completion scripts for {{ project_slug }}.

To load completions for Bash:
  $ source <({{ project_slug }} completion bash)

To load completions for Zsh:
  $ source <({{ project_slug }} completion zsh)

To load completions for Fish:
  $ {{ project_slug }} completion fish | source

To load completions for PowerShell:
  $ PS> {{ project_slug }} completion powershell | Out-String | Invoke-Expression
`,
	DisableFlagsInUseLine: true,
	ValidArgs:             []string{"bash", "zsh", "fish", "powershell"},
	Args:                  cobra.ExactValidArgs(1),
	RunE: func(cmd *cobra.Command, args []string) error {
		logger = NewLogger("completion")
		logger.Info("Generating %s completion script", args[0])

		switch args[0] {
		case "bash":
			return rootCmd.GenBashCompletion(os.Stdout)
		case "zsh":
			return rootCmd.GenZshCompletion(os.Stdout)
		case "fish":
			return rootCmd.GenFishCompletion(os.Stdout, true)
		case "powershell":
			return rootCmd.GenPowerShellCompletionWithDesc(os.Stdout)
		default:
			return fmt.Errorf("unsupported shell type: %s", args[0])
		}
	},
}

func init() {
	rootCmd.AddCommand(completionCmd)
}
