{
{% if nix_target_arch | default("") == "x86_64-darwin" %}
  "nixpkgs": {
    "commit": "293d6abedf0478e681a4dfcfcb35b30fc796a32f"
  },
{% endif %}
  "packages": {
    "go": "latest",
    "gnumake": "latest",
    "git": "latest"
  },
  "shell": {
    "init_hook": [
      "echo '\ud83d\udc39 Go CLI development environment loaded'"
    ]
  }
}
