module {{ project_slug }}

go 1.21

require (
	github.com/bmatcuk/doublestar/v4 v4.8.0
	github.com/charmbracelet/bubbletea v0.25.0
	github.com/charmbracelet/lipgloss v0.10.0
	github.com/fatih/color v1.16.0
	github.com/kardianos/service v1.2.2
	github.com/mattn/go-isatty v0.0.20
	github.com/schollz/progressbar/v3 v3.14.4
	github.com/spf13/cobra v1.8.0
	github.com/spf13/viper v1.18.0
)

{# vim: set ft=gomod: #}
