module {{ project_slug }}

go 1.27

require (
	github.com/99designs/keyring v1.2.2
	github.com/bmatcuk/doublestar/v4 v4.10.0
	github.com/charmbracelet/bubbletea v1.3.10
	github.com/charmbracelet/lipgloss v1.1.0
	github.com/fatih/color v1.19.0
	github.com/kardianos/service v1.3.0
	github.com/mattn/go-isatty v0.0.24
	github.com/schollz/progressbar/v3 v3.19.1
	github.com/sirupsen/logrus v1.10.2
	github.com/spf13/cobra v1.10.2
	github.com/spf13/viper v1.21.0
	modernc.org/sqlite v1.59.0
)

{# vim: set ft=gomod: #}
