module {{ project_slug }}

go 1.21

require (
	github.com/bmatcuk/doublestar/v4 v4.8.0
	github.com/fatih/color v1.16.0
	github.com/mattn/go-isatty v0.0.20
	github.com/spf13/cobra v1.8.0
	github.com/spf13/viper v1.18.0
)

{# vim: set ft=gomod: #}
