{
  "name": "{{ project_name | default('go-cli') }}",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": ".",
  "projectType": "application",
  "targets": {
    {% include "partials.bak/partials/nx-partials/nx-target-go.jinja" %}
    "run": {
      "executor": "nx:run-commands",
      "options": {
        "command": "go run .",
        "cwd": "{projectRoot}"
      }
    }
  }
}
