{
  "name": "{{ project_name | default('bash-scripts') }}",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": ".",
  "projectType": "application",
  "targets": {
    {% include "partials.bak/partials/nx-partials/nx-target-bash.jinja" %}
  }
}
