# Bash: shellcheck (static analysis) + shfmt (format).
-   repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
    -   id: shellcheck
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.14.1-1
    hooks:
    -   id: shfmt
